<div class="container-fuild eye-catch">
  <p class="d-flex align-items-end justify-content-center text-white m-0" style="font-size:80px; height:300px; width:100%;">Lorem Ipsum</p>
  <p class="text-center text-white m-0" style="font-size:23px;">simply dummy text of the printing</p>
</div>
<div class="container-fuild">
  <p class="portfolio-title text-center" style="font-size:40px;">Portfolio</p>
</div>