<section id="mv">
  <div class="container-fuild eye-catch">
    <p class="mv-title text-white m-0">Lorem Ipsum</p>
    <p class="text-center text-white m-0" style="font-size:23px;">simply dummy text of the printing</p>
  </div>
</section>
<section id="portfolio">
  <div class="container-fuild">
    <p class="portfolio-title text-center">Portfolio</p>
    <p class="text-center m-0 p-0 pt-5">It is a long established fact that a reader will be distracted by the readable
    <br>content of a page when looking at its layout.
    <br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    <div class="image-group">
      <div class="image image-1"></div>
      <div class="image image-2"></div>
      <div class="image image-3"></div>
      <div class="image image-4"></div>
      <div class="image image-5"></div>
      <div class="image image-6"></div>
    </div>
  </div>
</section>
<section id="feature">
  <div class="container-fuild">
    <p class="feature-title text-center">Feature</p>
    <p class="text-center m-0 p-0 pt-5">It is a long established fact that a reader will be distracted by the readable
    <br>content of a page when looking at its layout.
    <br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </div>
  <div class="future-group">
    <div class="future">a</div>
    <div class="future">a</div>
    <div class="future">a</div>
  </div>
</section>